<div class="container">
  <div class="d-flex flex-row gap-2 align-items-center justify-content-center">
    <h1 class="my-4 text-center">Usuários do Github</h1>
    <h1><ng-icon name="octMarkGithub"></ng-icon></h1>
  </div>

  <form [formGroup]="form">
    <div class="row gap-4 align-items-end">
      <div class="form-group col-md-4 col-9">
        <label for="username">Nome de usuário</label>
        <input
          #usernameField
          type="text"
          class="form-control"
          id="username"
          placeholder="Digite o nome de usuário desejado"
          formControlName="username"
        />
      </div>
      <div class="spinner-border" *ngIf="loading" role="status"></div>
    </div>
  </form>

  <hr />

  <ngb-alert
    type="danger"
    *ngIf="showErrorMessage"
    (closed)="closeErrorMessage()"
    >Ocorreu um erro ao obter os dados. Por favor, tente novamente.</ngb-alert
  >

  <div *ngIf="users.length">
    <div class="row row-gap-4">
      <div class="col-12 col-md-4" *ngFor="let user of users">
        <div class="card h-100">
          <div class="card-body">
            <div class="row align-items-center mb-3">
              <img class="rounded-circle col-2" [src]="user.avatar_url" />
              <h5 class="card-title col-10">{{ user.login }}</h5>
            </div>
            <button
              id="btn-details"
              class="btn btn-primary"
              (click)="openDetails(user.login)"
            >
              Ver detalhes
            </button>
          </div>
        </div>
      </div>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center mt-4"
      [ellipses]="true"
      [maxSize]="3"
      [pageSize]="pageSize"
      [collectionSize]="collectionSize"
      [(page)]="page"
      (pageChange)="getUsers()"
    ></ngb-pagination>
  </div>
</div>
